<h1>Pags#pag2</h1>
<p>Find me in app/views/pags/pag2.html.erb</p>
<% content_for :footer do%>
<h1>footer</h1>
<% end %>
<table class="table">
  <% @users.each do |u| %>
    <tr>
      <td>
        <%= u %>
      </td>
    </tr>
  <% end %>
</table>
<button id="outside">click para ver</button>
<script>
$("#outside").click(function(e) {
 e.preventDefault();
 $.backstretch('http://dl.dropbox.com/u/515046/www/outside.jpg');
});
</script>
